<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xero Cart</title>
    <link rel="stylesheet" href="{% static "login.css" %}">
</head>
<body>
    <div class="container">
        <div class="tail">
            <div class="box1">
                <h1 class="tail-h1">WANNA GET <span class="tailh12" >XEROX FAST!?</span>
                    
                </h1>
                <br>
                <a href="/login"><button class="button-7" role="button">Try Thiis</button></a>

            </div>
            <div class="about">
                <h3 class="h3-style">Vision</h3>
                <div class="vision">
                    <p>
                        An online xerox ordering website that allows users to order prints of their PDF or other documents online.
                        Users can upload their documents to the website, select the number of copies they want to print, and pay for their order
                        online. This eliminates the need for customers to wait in line at a xerox shop.
                    </p>
                    <p>Here are some of the benefits of using an online xerox ordering website:</p>
                    <ul>
                        <li>Convenience: Users can order prints from anywhere at any time.</li>
                        <li>Affordability: Online xerox shops typically have lower overhead costs than traditional xerox shops.</li>
                        <li>Variety: Online xerox ordering websites can often offer a wider range of printing services.</li>
                        <li>Efficiency: Online xerox ordering websites can help to reduce wait times for customers.</li>
                    </ul>
    
                </div>

            </div>
            
        </div>
        <footer></footer>
    </div>
</body>
</html>